nargin: 8

box-sizing: border-box;

body

display: flex;

justify-content: center;

411gn-Lters: center; an-belutit: 108vh;

background: whitesmoke; font-family: Verdana, Gemeva, Tabona, sans-serif;

aif (

height: 100%; width: 100%;

taxt-align:center

font-size: 1.Sen color: #e94es;

nargin: 15px 1

th: 100%

height: 30px; display: flest

justify contents center;

nargin-top: 5px

button

position: absolute;

wtath: 150px; height: Soherit;

color: white; fant-size: 1.2em;

border-radius: 301

outline: none;

hoa-shadow: 0 1px 4px gray;

carsor: pointer;

border: 2px solid #945; fant stam: Leng

Mattoninth-child) (

margin-left: -200 background: #e5458

buttominth-child(2) ( margin-right: 200px)

background wittes color: #e94d